name: Python Workflow

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Format with black
        run: black --check --line-length=79 .

      - name: Lint with flake8
        run: flake8 --max-line-length=79 --ignore=E402,W503 .

      - name: Run tests
        run: pytest tests/

      - name: build docker image
        run: docker build -t ppg:latest .

      - name: authenticate with ghcr.io
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: push docker image
        run: docker push ghcr.io/username/ppg:latest



